.gbx-body h1,.gbx-body h2,.gbx-body h3,.gbx-body h4,.gbx-body h5,.gbx-body h6,.gbx-body p,.gbx-body blockquote,.gbx-body pre,.gbx-body a, .modal a,.gbx-body abbr,acronym,.gbx-body address,.gbx-body cite,.gbx-body code,.gbx-body del,.gbx-body dfn,.gbx-body em,.gbx-body img,.gbx-body q,.gbx-body s,.gbx-body samp,.gbx-body small,.gbx-body strike,.gbx-body strong,.gbx-body sub,.gbx-body sup,.gbx-body tt,.gbx-body var,.gbx-body dd,.gbx-body dl,.gbx-body dt,.gbx-body li,.gbx-body ol,.gbx-body ul,.gbx-body fieldset,.gbx-body form,.gbx-body label,.gbx-body legend,.gbx-body button,.gbx-body table,.gbx-body caption,.gbx-body tbody,.gbx-body tfoot,.gbx-body thead,.gbx-body tr,.gbx-body th,.gbx-body td{margin:0;padding:0;border:0;font-weight:normal;font-style:normal;font-size:100%;line-height:1;font-family:inherit;}
.gbx-body table{border-collapse:collapse;border-spacing:0;}
.gbx-body ol,.gbx-body ul{list-style:none;}
.gbx-body q:before,.gbx-body q:after,.gbx-body blockquote:before,.gbx-body blockquote:after{content:"";}

.gbx-body a:focus,.modal a:focus{outline:thin dotted;}
.gbx-body a:hover,.gbx-body a:active,.modal a:active{outline:0;}
.gbx-body article,.gbx-body aside,.gbx-body details,.gbx-body figcaption,.gbx-body figure,.gbx-body footer,.gbx-body header,.gbx-body hgroup,.gbx-body nav,.gbx-body section{display:block;}
.gbx-body audio,.gbx-body canvas,.gbx-body video{display:inline-block;*display:inline;*zoom:1;}
.gbx-body audio:not([controls]){display:none;}
.gbx-body sub,.gbx-body sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
.gbx-body sup{top:-0.5em;}
.gbx-body sub{bottom:-0.25em;}
.gbx-body img{border:0;-ms-interpolation-mode:bicubic;max-width:1000%}
.gbx-body button,.gbx-body input,.gbx-body select,.gbx-body textarea,.modal input{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}
.gbx-body button,.gbx-body input,.modal input{line-height:normal;*overflow:visible;}
.gbx-body button::-moz-focus-inner,.gbx-body input::-moz-focus-inner{border:0;padding:0;}
.gbx-body button,.gbx-body input[type="button"],.gbx-body input[type="reset"],.gbx-body input[type="submit"],.modal input[type="submit"]{cursor:pointer;-webkit-appearance:button;}
.gbx-body input[type="search"]{-webkit-appearance:textfield;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;}
.gbx-body input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
.gbx-body textarea{overflow:auto;vertical-align:top;}

.gbx-body .container{width:940px;margin-left:auto;margin-right:auto;zoom:1;}
.gbx-body .container:before,.gbx-body .container:after{display:table;content:"";zoom:1;}
.gbx-body .container:after{clear:both;}
.gbx-body .container-fluid{position:relative;min-width:940px;padding-left:20px;padding-right:20px;zoom:1;}
.gbx-body .container-fluid:before,.gbx-body .container-fluid:after{display:table;content:"";zoom:1;}
.gbx-body .container-fluid:after{clear:both;}
.gbx-body .container-fluid>.sidebar{position:absolute;top:0;left:20px;width:220px;}
.gbx-body .container-fluid>.content{margin-left:240px;}
.gbx-body a,.modal a{text-decoration:none;line-height:inherit;font-weight:inherit;}
.gbx-body a:hover,.modal a:hover{text-decoration:underline;}
.gbx-body .pull-right{float:right;}
.gbx-body .pull-left{float:left;}
.gbx-body .hide{display:none;}
.gbx-body .show{display:block;}
.gbx-body .clearfix, .gbx-body .clearfix:after{clear:both;}
.gbx-body .row{margin-left:-20px;zoom:1;}
.gbx-body .row:before,.gbx-body .row:after{display:table;content:"";zoom:1;}
.gbx-body .row:after{clear:both;}
.gbx-body .row>[class*="span"]{display:inline;float:left;margin-left:20px;}
.gbx-body .span1{width:40px;}
.gbx-body .span2{width:100px;}
.gbx-body .span3{width:160px;}
.gbx-body .span4{width:220px;}
.gbx-body .span5{width:280px;}
.gbx-body .span6{width:340px;}
.gbx-body .span7{width:400px;}
.gbx-body .span8{width:460px;}
.gbx-body .span9{width:520px;}
.gbx-body .span10{width:580px;}
.gbx-body .span11{width:640px;}
.gbx-body .span12{width:700px;}
.gbx-body .span13{width:760px;}
.gbx-body .span14{width:820px;}
.gbx-body .span15{width:880px;}
.gbx-body .span16{width:940px;}
.gbx-body .span17{width:1000px;}
.gbx-body .span18{width:1060px;}
.gbx-body .span19{width:1120px;}
.gbx-body .span20{width:1180px;}
.gbx-body .span21{width:1240px;}
.gbx-body .span22{width:1300px;}
.gbx-body .span23{width:1360px;}
.gbx-body .span24{width:1420px;}
.gbx-body .row>.offset1{margin-left:80px;}
.gbx-body .row>.offset2{margin-left:140px;}
.gbx-body .row>.offset3{margin-left:200px;}
.gbx-body .row>.offset4{margin-left:260px;}
.gbx-body .row>.offset5{margin-left:320px;}
.gbx-body .row>.offset6{margin-left:380px;}
.gbx-body .row>.offset7{margin-left:440px;}
.gbx-body .row>.offset8{margin-left:500px;}
.gbx-body .row>.offset9{margin-left:560px;}
.gbx-body .row>.offset10{margin-left:620px;}
.gbx-body .row>.offset11{margin-left:680px;}
.gbx-body .row>.offset12{margin-left:740px;}
.gbx-body .span-one-third{width:300px;}
.gbx-body .span-two-thirds{width:620px;}
.gbx-body .row>.offset-one-third{margin-left:340px;}
.gbx-body .row>.offset-two-thirds{margin-left:660px;}
.gbx-body p{font-size:13px;font-weight:normal;line-height:18px;margin-bottom:9px;}
.gbx-body p small{font-size:11px;color:#bfbfbf;}
.gbx-body h1,.gbx-body h2,.gbx-body h3,.gbx-body h4,.gbx-body h5,.gbx-body h6{font-weight:bold;color:#404040;}
.gbx-body h1 small,.gbx-body h2 small,.gbx-body h3 small,.gbx-body h4 small,.gbx-body h5 small,.gbx-body h6 small{color:#bfbfbf;}
.gbx-body h1{margin-bottom:18px;font-size:30px;line-height:36px;}
.gbx-body h1 small{font-size:18px;}
.gbx-body h2{font-size:24px;line-height:36px;}
.gbx-body h2 small{font-size:14px;}
.gbx-body h3,.gbx-body h4,.gbx-body h5,.gbx-body h6{line-height:36px;}
.gbx-body h3{font-size:18px;}
.gbx-body h3 small{font-size:14px;}
.gbx-body h4{font-size:16px;}
.gbx-body h4 small{font-size:12px;}
.gbx-body h5{font-size:14px;}
.gbx-body h6{font-size:13px;color:#bfbfbf;text-transform:uppercase;}
.gbx-body ul,ol{margin:0 0 18px 25px;}
.gbx-body ul ul,.gbx-body ul ol,.gbx-body ol ol,.gbx-body ol ul{margin-bottom:0;}
.gbx-body ul{list-style:disc;}
.gbx-body ol{list-style:decimal;}
.gbx-body li{line-height:18px;color:#808080;}
.gbx-body ul.unstyled{list-style:none;margin-left:0;}
.gbx-body dl{margin-bottom:18px;}dl dt,dl dd{line-height:18px;}
.gbx-body dl dt{font-weight:bold;}
.gbx-body dl dd{margin-left:9px;}
.gbx-body hr{margin:20px 0 19px;border:0;border-bottom:1px solid #eee;}
.gbx-body strong{font-style:inherit;font-weight:bold;}
.gbx-body em{font-style:italic;font-weight:inherit;line-height:inherit;}
.gbx-body .muted{color:#bfbfbf;}
.gbx-body blockquote{margin-bottom:18px;border-left:5px solid #eee;padding-left:15px;}
.gbx-body blockquote p{font-size:14px;font-weight:300;line-height:18px;margin-bottom:0;}
.gbx-body blockquote small{display:block;font-size:12px;font-weight:300;line-height:18px;color:#bfbfbf;}
.gbx-body blockquote small:before{content:'\2014 \00A0';}
.gbx-body address{display:block;line-height:18px;margin-bottom:18px;}
.gbx-body code,.gbx-body pre{padding:0 3px 2px;font-family:Monaco, Andale Mono, Courier New, monospace;font-size:12px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.gbx-body code{background-color:#fee9cc;color:rgba(0, 0, 0, 0.75);padding:1px 3px;}
.gbx-body pre{background-color:#f5f5f5;display:block;padding:8.5px;margin:0 0 18px;line-height:18px;font-size:12px;border:1px solid #ccc;border:1px solid rgba(0, 0, 0, 0.15);-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
.gbx-body form{margin-bottom:18px;}
.gbx-body fieldset{margin-bottom:18px;padding-top:18px;}
.gbx-body fieldset legend{display:block;padding-left:150px;font-size:19.5px;line-height:1;color:#404040;*padding:0 0 5px 145px;*line-height:1.5;}
.gbx-body form .clearfix{margin-bottom:18px;zoom:1;}
.gbx-body form .clearfix:before,form .clearfix:after{display:table;content:"";zoom:1;}
.gbx-body form .clearfix:after{clear:both;}
.gbx-body label,.gbx-body input,.gbx-body select,.gbx-body textarea,.modal input{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:13px;font-weight:normal;line-height:normal;}
.gbx-body label{padding-top:6px;font-size:13px;line-height:18px;float:left;width:130px;text-align:right;color:#404040;}
.gbx-body form .input{margin-left:150px;}
.gbx-body input[type=checkbox],.gbx-body input[type=radio]{cursor:pointer;}
.gbx-body input,.modal input,.gbx-body textarea,select,.gbx-body .uneditable-input{display:inline-block;width:210px;height:18px;padding:4px;font-size:13px;line-height:18px;color:#808080;border:1px solid #ccc;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.gbx-body select{padding:initial;}
.gbx-body input[type=checkbox],.gbx-body input[type=radio]{width:auto;height:auto;padding:0;margin:3px 0;*margin-top:0;line-height:normal;border:none;}
.gbx-body input[type=file]{background-color:#ffffff;padding:initial;border:initial;line-height:initial;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.gbx-body input[type=button],.gbx-body input[type=reset],.gbx-body input[type=submit],.modal input[type=submit]{width:auto;height:auto;}
.gbx-body select,.gbx-body input[type=file]{height:27px;*height:auto;line-height:27px;*margin-top:4px;}
.gbx-body select[multiple]{height:inherit;background-color:#ffffff;}
.gbx-body textarea{height:auto;}
.gbx-body .uneditable-input{background-color:#ffffff;display:block;border-color:#eee;-webkit-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.025);-moz-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.025);box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.025);cursor:not-allowed;}
.gbx-body :-moz-placeholder{color:#bfbfbf;}
.gbx-body ::-webkit-input-placeholder{color:#bfbfbf;}
.gbx-body input,.gbx-body textarea{-webkit-transition:border linear 0.2s,box-shadow linear 0.2s;-moz-transition:border linear 0.2s,box-shadow linear 0.2s;-ms-transition:border linear 0.2s,box-shadow linear 0.2s;-o-transition:border linear 0.2s,box-shadow linear 0.2s;transition:border linear 0.2s,box-shadow linear 0.2s;-webkit-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1);-moz-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1);box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1);}
.gbx-body input:focus,.gbx-body textarea:focus{outline:0;border-color:rgba(82, 168, 236, 0.8);-webkit-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 8px rgba(82, 168, 236, 0.6);-moz-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 8px rgba(82, 168, 236, 0.6);box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 8px rgba(82, 168, 236, 0.6);}
.gbx-body input[type=file]:focus,.gbx-body input[type=checkbox]:focus,.gbx-body select:focus{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;outline:1px dotted #666;}
.gbx-body form .clearfix.error>label,.gbx-body form .clearfix.error .help-block,form .clearfix.error .help-inline{color:#b94a48;}
.gbx-body form .clearfix.error input,.gbx-body form .clearfix.error textarea{color:#b94a48;border-color:#ee5f5b;}form .clearfix.error input:focus,form .gbx-body .clearfix.error textarea:focus{border-color:#e9322d;-webkit-box-shadow:0 0 6px #f8b9b7;-moz-box-shadow:0 0 6px #f8b9b7;box-shadow:0 0 6px #f8b9b7;}
.gbx-body form .clearfix.error .input-prepend .add-on,.gbx-body form .clearfix.error .input-append .add-on{color:#b94a48;background-color:#fce6e6;border-color:#b94a48;}
.gbx-body form .clearfix.warning>label,.gbx-body form .clearfix.warning .help-block,.gbx-body form .clearfix.warning .help-inline{color:#c09853;}
.gbx-body form .clearfix.warning input,.gbx-body form .clearfix.warning textarea{color:#c09853;border-color:#ccae64;}
.gbx-body form .clearfix.warning input:focus,.gbx-body form .clearfix.warning textarea:focus{border-color:#be9a3f;-webkit-box-shadow:0 0 6px #e5d6b1;-moz-box-shadow:0 0 6px #e5d6b1;box-shadow:0 0 6px #e5d6b1;}
.gbx-body form .clearfix.warning .input-prepend .add-on,.gbx-body form .clearfix.warning .input-append .add-on{color:#c09853;background-color:#d2b877;border-color:#c09853;}
.gbx-body form .clearfix.success>label,.gbx-body form .clearfix.success .help-block,form .clearfix.success .help-inline{color:#468847;}
.gbx-body form .clearfix.success input,.gbx-body form .clearfix.success textarea{color:#468847;border-color:#57a957;}
.gbx-body form .clearfix.success input:focus,.gbx-body form .clearfix.success textarea:focus{border-color:#458845;-webkit-box-shadow:0 0 6px #9acc9a;-moz-box-shadow:0 0 6px #9acc9a;box-shadow:0 0 6px #9acc9a;}
.gbx-body form .clearfix.success .input-prepend .add-on,.gbx-body form .clearfix.success .input-append .add-on{color:#468847;background-color:#bcddbc;border-color:#468847;}
.gbx-body .input-mini,.gbx-body input.mini,.gbx-body textarea.mini,.gbx-body select.mini{width:60px;}
.gbx-body .input-small,.gbx-body input.small,.gbx-body textarea.small,.gbx-body select.small{width:90px;}
.gbx-body .input-medium,.gbx-body input.medium,.gbx-body textarea.medium,.gbx-body select.medium{width:150px;}
.gbx-body .input-large,.gbx-body input.large,.gbx-body textarea.large,.gbx-body select.large{width:210px;}
.gbx-body .input-xlarge,.gbx-body input.xlarge,.gbx-body textarea.xlarge,.gbx-body select.xlarge{width:270px;}
.input-xxlarge,input.xxlarge,textarea.xxlarge,select.xxlarge{width:530px;}
.gbx-body textarea.xxlarge{overflow-y:auto;}
.gbx-body input.span1,.gbx-body textarea.span1{display:inline-block;float:none;width:30px;margin-left:0;}
.gbx-body input.span2,.gbx-body textarea.span2{display:inline-block;float:none;width:90px;margin-left:0;}
.gbx-body input.span3,.gbx-body textarea.span3{display:inline-block;float:none;width:150px;margin-left:0;}
.gbx-body input.span4,.gbx-body textarea.span4{display:inline-block;float:none;width:210px;margin-left:0;}
.gbx-body input.span5,.gbx-body textarea.span5{display:inline-block;float:none;width:270px;margin-left:0;}
.gbx-body input.span6,.gbx-body textarea.span6{display:inline-block;float:none;width:330px;margin-left:0;}
.gbx-body input.span7,.gbx-body textarea.span7{display:inline-block;float:none;width:390px;margin-left:0;}
.gbx-body input.span8,.gbx-body textarea.span8{display:inline-block;float:none;width:450px;margin-left:0;}
.gbx-body input.span9,.gbx-body textarea.span9{display:inline-block;float:none;width:510px;margin-left:0;}
.gbx-body input.span10,.gbx-body textarea.span10{display:inline-block;float:none;width:570px;margin-left:0;}
.gbx-body input.span11,.gbx-body textarea.span11{display:inline-block;float:none;width:630px;margin-left:0;}
.gbx-body input.span12,.gbx-body textarea.span12{display:inline-block;float:none;width:690px;margin-left:0;}
.gbx-body input.span13,.gbx-body textarea.span13{display:inline-block;float:none;width:750px;margin-left:0;}
.gbx-body input.span14,.gbx-body textarea.span14{display:inline-block;float:none;width:810px;margin-left:0;}
.gbx-body input.span15,.gbx-body textarea.span15{display:inline-block;float:none;width:870px;margin-left:0;}
.gbx-body input.span16,.gbx-body textarea.span16{display:inline-block;float:none;width:930px;margin-left:0;}
.gbx-body input[disabled],.gbx-body select[disabled],.gbx-body textarea[disabled],.gbx-body input[readonly],.gbx-body select[readonly],.gbx-body textarea[readonly]{background-color:#f5f5f5;border-color:#ddd;cursor:not-allowed;}
.gbx-body .actions{background:#f5f5f5;margin-top:18px;margin-bottom:18px;padding:17px 20px 18px 150px;border-top:1px solid #ddd;-webkit-border-radius:0 0 3px 3px;-moz-border-radius:0 0 3px 3px;border-radius:0 0 3px 3px;}
.gbx-body .actions .secondary-action{float:right;}
.gbx-body .actions .secondary-action a{line-height:30px;}
.gbx-body .actions .secondary-action a:hover{text-decoration:underline;}
.gbx-body .help-inline,.gbx-body .help-block{font-size:13px;line-height:18px;color:#bfbfbf;}
.gbx-body .help-inline{padding-left:5px;*position:relative;*top:-5px;}
.gbx-body .help-block{display:block;max-width:600px;}
.gbx-body .inline-inputs{color:#808080;}
.gbx-body .inline-inputs span{padding:0 2px 0 1px;}
.gbx-body .input-prepend input,.gbx-body .input-append input{-webkit-border-radius:0 3px 3px 0;-moz-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0;}
.gbx-body .input-prepend .add-on,.gbx-body .input-append .add-on{position:relative;background:#f5f5f5;border:1px solid #ccc;z-index:2;float:left;display:block;width:auto;min-width:16px;height:18px;padding:4px 4px 4px 5px;margin-right:-1px;font-weight:normal;line-height:18px;color:#bfbfbf;text-align:center;text-shadow:0 1px 0 #ffffff;-webkit-border-radius:3px 0 0 3px;-moz-border-radius:3px 0 0 3px;border-radius:3px 0 0 3px;}
.gbx-body .input-prepend .active,.gbx-body .input-append .active{background:#a9dba9;border-color:#46a546;}
.gbx-body .input-prepend .add-on{*margin-top:1px;}
.gbx-body .input-append input{float:left;-webkit-border-radius:3px 0 0 3px;-moz-border-radius:3px 0 0 3px;border-radius:3px 0 0 3px;}
.gbx-body .input-append .add-on{-webkit-border-radius:0 3px 3px 0;-moz-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0;margin-right:0;margin-left:-1px;}
.gbx-body .inputs-list{margin:0 0 5px;width:100%;}
.gbx-body .inputs-list li{display:block;padding:0;width:100%;}
.gbx-body .inputs-list label{display:block;float:none;width:auto;padding:0;margin-left:20px;line-height:18px;text-align:left;white-space:normal;}
.gbx-body .inputs-list label strong{color:#808080;}
.gbx-body .inputs-list label small{font-size:11px;font-weight:normal;}
.gbx-body .inputs-list .inputs-list{margin-left:25px;margin-bottom:10px;padding-top:0;}
.gbx-body .inputs-list:first-child{padding-top:6px;}
.gbx-body .inputs-list li+li{padding-top:2px;}
.gbx-body .inputs-list input[type=radio],.gbx-body .inputs-list input[type=checkbox]{margin-bottom:0;margin-left:-20px;float:left;}
.gbx-body .form-stacked{padding-left:20px;}
.gbx-body .form-stacked fieldset{padding-top:9px;}
.gbx-body .form-stacked legend{padding-left:0;}
.gbx-body .form-stacked label{display:block;float:none;width:auto;font-weight:bold;text-align:left;line-height:20px;padding-top:0;}
.gbx-body .form-stacked .clearfix{margin-bottom:9px;}
.gbx-body .form-stacked .clearfix div.input{margin-left:0;}
.gbx-body .form-stacked .inputs-list{margin-bottom:0;}
.gbx-body .form-stacked .inputs-list li{padding-top:0;}
.gbx-body .form-stacked .inputs-list li label{font-weight:normal;padding-top:0;}
.gbx-body .form-stacked div.clearfix.error{padding-top:10px;padding-bottom:10px;padding-left:10px;margin-top:0;margin-left:-10px;}
.gbx-body .form-stacked .actions{margin-left:-20px;padding-left:20px;}

.gbx-body .breadcrumb{padding:7px 14px;margin:0 0 18px;background-color:#f5f5f5;background-repeat:repeat-x;background-image:-khtml-gradient(linear, left top, left bottom, from(#ffffff), to(#f5f5f5));background-image:-moz-linear-gradient(top, #ffffff, #f5f5f5);background-image:-ms-linear-gradient(top, #ffffff, #f5f5f5);background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f5f5f5));background-image:-webkit-linear-gradient(top, #ffffff, #f5f5f5);background-image:-o-linear-gradient(top, #ffffff, #f5f5f5);background-image:linear-gradient(top, #ffffff, #f5f5f5);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);border:1px solid #ddd;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:inset 0 1px 0 #ffffff;-moz-box-shadow:inset 0 1px 0 #ffffff;box-shadow:inset 0 1px 0 #ffffff;}
.gbx-body .breadcrumb li{display:inline;text-shadow:0 1px 0 #ffffff;}
.gbx-body .breadcrumb .divider{padding:0 5px;color:#bfbfbf;}
.gbx-body .breadcrumb .active a{color:#404040;}

.gbx-body .btn.danger,.gbx-body .alert-message.danger,.gbx-body .btn.danger:hover,.gbx-body .alert-message.danger:hover,.gbx-body .btn.error,.gbx-body .alert-message.error,.gbx-body .btn.error:hover,.gbx-body .alert-message.error:hover,.gbx-body .btn.success,.gbx-body .alert-message.success,.gbx-body .btn.success:hover,.gbx-body .alert-message.success:hover,.gbx-body .btn.info,.gbx-body .alert-message.info,.gbx-body .btn.info:hover,.gbx-body .alert-message.info:hover, .modal .btn.danger{color:#ffffff !important;}
.gbx-body .btn .close,.gbx-body .alert-message .close, .modal .close{font-family:Arial,sans-serif;line-height:18px;}
.gbx-body .btn.danger,.gbx-body .alert-message.danger,.gbx-body .btn.error,.gbx-body .alert-message.error,.modal .btn.danger{background-color:#c43c35;background-repeat:repeat-x;background-image:-khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));background-image:-moz-linear-gradient(top, #ee5f5b, #c43c35);background-image:-ms-linear-gradient(top, #ee5f5b, #c43c35);background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));background-image:-webkit-linear-gradient(top, #ee5f5b, #c43c35);background-image:-o-linear-gradient(top, #ee5f5b, #c43c35);background-image:linear-gradient(top, #ee5f5b, #c43c35);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);border-color:#c43c35 #c43c35 #882a25;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);}
.gbx-body .btn.success,.gbx-body .alert-message.success{background-color:#57a957;background-repeat:repeat-x;background-image:-khtml-gradient(linear, left top, left bottom, from(#62c462), to(#57a957));background-image:-moz-linear-gradient(top, #62c462, #57a957);background-image:-ms-linear-gradient(top, #62c462, #57a957);background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #62c462), color-stop(100%, #57a957));background-image:-webkit-linear-gradient(top, #62c462, #57a957);background-image:-o-linear-gradient(top, #62c462, #57a957);background-image:linear-gradient(top, #62c462, #57a957);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);border-color:#57a957 #57a957 #3d773d;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);}
.gbx-body .btn.info,.gbx-body .alert-message.info{background-color:#339bb9;background-repeat:repeat-x;background-image:-khtml-gradient(linear, left top, left bottom, from(#5bc0de), to(#339bb9));background-image:-moz-linear-gradient(top, #5bc0de, #339bb9);background-image:-ms-linear-gradient(top, #5bc0de, #339bb9);background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #5bc0de), color-stop(100%, #339bb9));background-image:-webkit-linear-gradient(top, #5bc0de, #339bb9);background-image:-o-linear-gradient(top, #5bc0de, #339bb9);background-image:linear-gradient(top, #5bc0de, #339bb9);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#339bb9', GradientType=0);text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);border-color:#339bb9 #339bb9 #22697d;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);}
.gbx-body .btn, .modal .btn{cursor:pointer;display:inline-block;background-color:#e6e6e6;background-repeat:no-repeat;background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));background-image:-webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);background-image:-moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);background-image:-ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);background-image:-o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);background-image:linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);padding:5px 14px 6px;text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);color:#333 !important;font-size:13px;line-height:normal;border:1px solid #ccc;border-bottom-color:#bbb;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);-webkit-transition:0.1s linear all;-moz-transition:0.1s linear all;-ms-transition:0.1s linear all;-o-transition:0.1s linear all;transition:0.1s linear all;}
.gbx-body .btn:hover, .modal .btn:hover{background-position:0 -15px;color:#333;text-decoration:none;}
.gbx-body .btn:focus, .modal .btn:focus{outline:1px dotted #666;}
.gbx-body .btn.primary, .modal .btn.primary{color:#ffffff !important;background-color:#0064cd;background-repeat:repeat-x;background-image:-khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));background-image:-moz-linear-gradient(top, #049cdb, #0064cd);background-image:-ms-linear-gradient(top, #049cdb, #0064cd);background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));background-image:-webkit-linear-gradient(top, #049cdb, #0064cd);background-image:-o-linear-gradient(top, #049cdb, #0064cd);background-image:linear-gradient(top, #049cdb, #0064cd);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0);text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);border-color:#0064cd #0064cd #003f81;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);}
.gbx-body .btn.active,.gbx-body .btn:active,, .modal .btn:active{-webkit-box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.25),0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.25),0 1px 2px rgba(0, 0, 0, 0.05);box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.25),0 1px 2px rgba(0, 0, 0, 0.05);}
.gbx-body .btn.disabled{cursor:default;background-image:none;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);filter:alpha(opacity=65);-khtml-opacity:0.65;-moz-opacity:0.65;opacity:0.65;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.gbx-body .btn[disabled]{cursor:default;background-image:none;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);filter:alpha(opacity=65);-khtml-opacity:0.65;-moz-opacity:0.65;opacity:0.65;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.gbx-body .btn.large{font-size:15px;line-height:normal;padding:9px 14px 9px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;}
.gbx-body .btn.small{padding:7px 9px 7px;font-size:11px;}
.gbx-body :root .alert-message,.gbx-body :root .btn{border-radius:0 \0;}
.gbx-body button.btn::-moz-focus-inner,.gbx-body input[type=submit].btn::-moz-focus-inner,.modal input[type=submit].btn::-moz-focus-inner{padding:0;border:0;}
.gbx-body .close,.modal .close, .close{float:right;color:#000000;font-size:20px;font-weight:bold;line-height:13.5px;text-shadow:0 1px 0 #ffffff;filter:alpha(opacity=25);-khtml-opacity:0.25;-moz-opacity:0.25;opacity:0.25;}
.gbx-body .close:hover{color:#000000;text-decoration:none;filter:alpha(opacity=40);-khtml-opacity:0.4;-moz-opacity:0.4;opacity:0.4;}
.gbx-body .alert-message{position:relative;padding:7px 15px;margin-bottom:18px;color:#404040;background-color:#eedc94;background-repeat:repeat-x;background-image:-khtml-gradient(linear, left top, left bottom, from(#fceec1), to(#eedc94));background-image:-moz-linear-gradient(top, #fceec1, #eedc94);background-image:-ms-linear-gradient(top, #fceec1, #eedc94);background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #fceec1), color-stop(100%, #eedc94));background-image:-webkit-linear-gradient(top, #fceec1, #eedc94);background-image:-o-linear-gradient(top, #fceec1, #eedc94);background-image:linear-gradient(top, #fceec1, #eedc94);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fceec1', endColorstr='#eedc94', GradientType=0);text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);border-color:#eedc94 #eedc94 #e4c652;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);border-width:1px;border-style:solid;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.25);-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.25);box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.25);}
.gbx-body .alert-message .close{margin-top:1px;*margin-top:0;}
.gbx-body .alert-message a{font-weight:bold;color:#404040;}
.gbx-body .alert-message.danger p a,.gbx-body .alert-message.error p a,.gbx-body .alert-message.success p a,.gbx-body .alert-message.info p a{color:#ffffff;}
.gbx-body .alert-message h5{line-height:18px;}
.gbx-body .alert-message p{margin-bottom:0;}
.gbx-body .alert-message div{margin-top:5px;margin-bottom:2px;line-height:28px;}
.gbx-body .alert-message .btn{-webkit-box-shadow:0 1px 0 rgba(255, 255, 255, 0.25);-moz-box-shadow:0 1px 0 rgba(255, 255, 255, 0.25);box-shadow:0 1px 0 rgba(255, 255, 255, 0.25);}
.gbx-body .alert-message.block-message{background-image:none;background-color:#fdf5d9;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);padding:14px;border-color:#fceec1;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.gbx-body .alert-message.block-message ul,.gbx-body .alert-message.block-message p{margin-right:30px;}
.gbx-body .alert-message.block-message ul{margin-bottom:0;}
.gbx-body .alert-message.block-message li{color:#404040;}
.gbx-body .alert-message.block-message .alert-actions{margin-top:5px;}
.gbx-body .alert-message.block-message.error,.gbx-body .alert-message.block-message.success,.gbx-body .alert-message.block-message.info{color:#404040;text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);}
.gbx-body .alert-message.block-message.error{background-color:#fddfde;border-color:#fbc7c6;}
.gbx-body .alert-message.block-message.success{background-color:#d1eed1;border-color:#bfe7bf;}
.gbx-body .alert-message.block-message.info{background-color:#ddf4fb;border-color:#c6edf9;}
.gbx-body .alert-message.block-message.danger p a,.gbx-body .alert-message.block-message.error p a,.gbx-body .alert-message.block-message.success p a,.gbx-body .alert-message.block-message.info p a{color:#404040;}
.gbx-body .pagination{height:36px;margin:18px 0;}.gbx-body .pagination ul{float:left;margin:0;border:1px solid #ddd;border:1px solid rgba(0, 0, 0, 0.15);-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);}
.gbx-body .pagination li{display:inline;}
.gbx-body .pagination a{float:left;padding:0 14px;line-height:34px;border-right:1px solid;border-right-color:#ddd;border-right-color:rgba(0, 0, 0, 0.15);*border-right-color:#ddd;text-decoration:none;}
.gbx-body .pagination a:hover,.gbx-body .pagination .active a{background-color:#f1f1f1;}
.gbx-body .pagination .disabled a,.gbx-body .pagination .disabled a:hover{background-color:transparent;color:#bfbfbf;}
.gbx-body .pagination .next a{border:0;}
.gbx-body .well{background-color:#f5f5f5;margin-bottom:20px;padding:19px;min-height:20px;border:1px solid #eee;border:1px solid rgba(0, 0, 0, 0.05);-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);}
.gbx-body .well blockquote{border-color:#ddd;border-color:rgba(0, 0, 0, 0.15);}

.modal-backdrop{background-color:#000000;position:fixed;top:0;left:0;right:0;bottom:0;z-index:10000;}
.modal-backdrop.fade{opacity:0;}
.modal-backdrop,.modal-backdrop.fade.in{filter:alpha(opacity=80);-khtml-opacity:0.8;-moz-opacity:0.8;opacity:0.8;}
.modal{position:fixed;top:50%;left:50%;z-index:11000;width:560px;margin:-250px 0 0 -280px;background-color:#ffffff;border:1px solid #999;border:1px solid rgba(0, 0, 0, 0.3);*border:1px solid #999;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;-webkit-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);-moz-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);-webkit-background-clip:padding-box;-moz-background-clip:padding-box;background-clip:padding-box;}
.modal .close{margin-top:7px;}
.modal.fade{-webkit-transition:opacity .3s linear, top .3s ease-out;-moz-transition:opacity .3s linear, top .3s ease-out;-ms-transition:opacity .3s linear, top .3s ease-out;-o-transition:opacity .3s linear, top .3s ease-out;transition:opacity .3s linear, top .3s ease-out;top:-25%;}
.modal.fade.in{top:50%;}
.modal-header{border-bottom:1px solid #eee;padding:5px 15px;}
.modal-body{padding:15px;}
.modal-body form{margin-bottom:0;}
.modal-footer{background-color:#f5f5f5;padding:14px 15px 15px;border-top:1px solid #ddd;-webkit-border-radius:0 0 6px 6px;-moz-border-radius:0 0 6px 6px;border-radius:0 0 6px 6px;-webkit-box-shadow:inset 0 1px 0 #ffffff;-moz-box-shadow:inset 0 1px 0 #ffffff;box-shadow:inset 0 1px 0 #ffffff;zoom:1;margin-bottom:0;}
.modal-footer:before,.modal-footer:after{display:table;content:"";zoom:1;}
.modal-footer:after{clear:both;}
.modal-footer .btn{float:right;margin-left:5px;}
.modal .popover,.modal .twipsy{z-index:12000;}


.twipsy{display:block;position:absolute;visibility:visible;padding:5px;font-size:11px;z-index:10001;filter:alpha(opacity=80);-khtml-opacity:0.8;-moz-opacity:0.8;opacity:0.8;}.twipsy.fade.in{filter:alpha(opacity=80);-khtml-opacity:0.8;-moz-opacity:0.8;opacity:0.8;}
.twipsy.above .twipsy-arrow{bottom:0;left:50%;margin-left:-5px;border-left:5px solid transparent;border-right:5px solid transparent;border-top:5px solid #000000;}
.twipsy.left .twipsy-arrow{top:50%;right:0;margin-top:-5px;border-top:5px solid transparent;border-bottom:5px solid transparent;border-left:5px solid #000000;}
.twipsy.below .twipsy-arrow{top:0;left:50%;margin-left:-5px;border-left:5px solid transparent;border-right:5px solid transparent;border-bottom:5px solid #000000;}
.twipsy.right .twipsy-arrow{top:50%;left:0;margin-top:-5px;border-top:5px solid transparent;border-bottom:5px solid transparent;border-right:5px solid #000000;}
.twipsy-inner{padding:3px 8px;background-color:#000000;color:white;text-align:center;max-width:200px;text-decoration:none;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.twipsy-arrow{position:absolute;width:0;height:0;}

.popover{position:absolute;top:0;left:0;z-index:1000;padding:5px;display:none;}
.popover.above .arrow{bottom:0;left:50%;margin-left:-5px;border-left:5px solid transparent;border-right:5px solid transparent;border-top:5px solid #000000;}
.popover.right .arrow{top:50%;left:0;margin-top:-5px;border-top:5px solid transparent;border-bottom:5px solid transparent;border-right:5px solid #000000;}
.popover.below .arrow{top:0;left:50%;margin-left:-5px;border-left:5px solid transparent;border-right:5px solid transparent;border-bottom:5px solid #000000;}
.popover.left .arrow{top:50%;right:0;margin-top:-5px;border-top:5px solid transparent;border-bottom:5px solid transparent;border-left:5px solid #000000;}
.popover .arrow{position:absolute;width:0;height:0;}
.popover .inner{background:#000000;background:rgba(0, 0, 0, 0.8);padding:3px;overflow:hidden;width:280px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;-webkit-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);-moz-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);}
.popover h3.title{margin:0px !important}
.popover .title{;background-color:#f5f5f5;padding:9px 15px;line-height:1;-webkit-border-radius:3px 3px 0 0;-moz-border-radius:3px 3px 0 0;border-radius:3px 3px 0 0;border-bottom:1px solid #eee;}
.popover .content{background-color:#ffffff;padding:14px;-webkit-border-radius:0 0 3px 3px;-moz-border-radius:0 0 3px 3px;border-radius:0 0 3px 3px;-webkit-background-clip:padding-box;-moz-background-clip:padding-box;background-clip:padding-box;}
.popover .content p,.popover .content ul,.popover .content ol{margin-bottom:0;}

.fade{-webkit-transition:opacity 0.15s linear;-moz-transition:opacity 0.15s linear;-ms-transition:opacity 0.15s linear;-o-transition:opacity 0.15s linear;transition:opacity 0.15s linear;opacity:0;}
.fade.in{opacity:1;}

.gbx-body .label{padding:1px 3px 2px;font-size:9.75px;font-weight:bold;color:#ffffff;text-transform:uppercase;white-space:nowrap;background-color:#bfbfbf;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.gbx-body .label.important{background-color:#c43c35;}
.gbx-body .label.warning{background-color:#f89406;}
.gbx-body .label.success{background-color:#46a546;}
.gbx-body .label.notice{background-color:#62cffc;}

.gbx-body{background-color:transparent;margin:0;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:13px;font-weight:normal;line-height:18px;color:#404040;}

.gbx-body #gbx-content-pane{float:left;}
.gbx-body #gbx-main-gallery{padding:12px;width:100%;float:left; font-size:12px;}
.gbx-body #gbx-main-wrapper{width:100%;}
.gbx-body #gbx-set-wrapper{width:100%}
.gbx-body #gbx-sidebar {float:left; text-align:right;margin:1px 20px 0px 20px;}

.gbx-body #gbx-image-view a.btn.pull-left{margin-right:4px !important;}
.gbx-body #gbx-page-name{float:left;}
.gbx-body #gbx-page-name h1{margin:0px;}
.gbx-body #gallery-search{margin-top:20px;}
.gbx-body #gallery-search input[type="text"]{margin:0px 12px 0px 0px;border:1px solid #c6c6c6; float:left;}
.gbx-body #gallery-search .form-button{float:left;}
.gbx-body #gbx-page-name{width:60%;}
.gbx-body #gallery-inner{margin-top:20px;}

.gbx-body #gbx-img-wrapper{}
.gbx-body #gbx-img-wrapper h3, #gbx-img-wrapper p{text-align:left;}
.gbx-body #gbx-img-wrapper h3{margin-top:8px;}
.gbx-body #gbxImg{margin-top:8px;border:1px solid #CCC;}

.gbx-body .gbx-header h4{font-size:15px;margin-bottom:12px !important;text-align:right !important;font-weight:bold;margin-right:0px;}
.gbx-body .gbx-header h4 span{font-family:Verdana, Geneva, sans-serif;font-size:12px;color:#666;font-weight:normal;}
.gbx-body .gbx-separator{margin-top:8px;margin-bottom: 8px;width:70%;text-align:right;border-top:1px solid #666;float:right;}

#gbx-tag-list ul{list-style-position:inside;list-style:none;}
#gbx-tag-list li{line-height: 1.2em;}
#gbx-comments{margin-top: 20px;}
#gbx-comments h4{margin:10px 0px;color:#666;}

.gbx-comment{margin-bottom:10px;}
.gbx-comment span.date{font-size:10px;color:#999;}
.gbx-comment p{font-size:11px;}

.gbx-body .gbx-comment-form{margin-top: 20px;}
.gbx-body .gbx-comment-form .gray{font-size:11px;text-align:center;color:#999;margin-bottom:20px;}
.gbx-body .gbx-comment-form textarea{border:1px solid #c6c6c6;width:99%;height:140px;padding:4px;font-family:Verdana, Geneva, sans-serif;font-size:11px;color:#999;}
.gbx-body .gbx-comment-form textarea:focus{color:#000;}

.gbx-body .comment-user-img{float:left;width:40px;}
.gbx-body .comment-user-img img{border:1px solid #c6c6c6;float:left;}

.gbx-body #gbx-favs{margin:0px 0px 20px 0px;}
#zoom{z-index:99999}
.gbx-body .commentIDcopy{float:none !important;font-size:100% !important;}
.gbx-body #imgComment{margin-bottom:8px;}

.gbx-body #noteform {display: none;position: absolute;width: 250px;}
.gbx-body #noteform textarea{width: 100%;font-family:Verdana, Geneva, sans-serif;font-size:12px;}
.gbx-body #noteform .gray{background-color:#fff;border:1px solid #666;padding:4px;font-size:11px;text-align:center;color:#666;width:152px;}
.gbx-body #noteform .form-button{float:left;margin-left:50px;}

#NoteNote{margin-bottom:6px !important}
.note {display: none;background: url(spacer.gif); border: 2px solid rgb(255, 255, 255); overflow: hidden; position: absolute; z-index: 0;cursor: text;}
.notep {display: none; font-size: 8pt; margin-top: 0px;max-width:150px;position: absolute;cursor: text;padding: 4px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;background: #FF6;} 
.notep .note-by-owner{font-weight:bold;float:left;} 
.notep .note-by-user{float:left;} 

.gbx-body .pad-right{margin-right:6px !important}
.gbx-body .tag-list-box,.gbx-body .set-list-box{clear:both; margin: 0px 0px 40px 0px;}
.gbx-body #gbx-rss,.gbx-body #gbx-tags,.gbx-body #gbx-user-stream,.gbx-body #gbx-set-list{display:block;border-top: 1px solid #c6c6c6;margin:20px 0px 0px 0px;}
.gbx-body #gbx-rss{border:none;}
.gbx-body #gbx-tags a{float:right;display:block;padding:3px 8px;background:#efefef;color:#444;margin: 0 0 4px 4px;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;}
.gbx-body #gbx-set-list a{display:block;padding:3px 8px;color:#444;margin: 0 0 4px 4px;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;}

.gbx-body #gbx-tags a:hover,.gbx-body #gbx-set-list a:hover{background:#444;color:#fff;text-decoration:none !important;}

.modal .embed-text{width:99% !important; height:80px !important;font-family:"Courier New", Courier, monospace;font-size:12px;font-weight:normal;line-height:normal;}

.gbx-body .user-gall div:nth-child(2n+2){float:right;}
.gbx-body .user-gall div a div{width:69px;height:69px;overflow:hidden;}
.gbx-body .user-gall div a{padding:2px;border:1px solid #c6c6c6;-webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);-moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);display:block;float:left;width:69px;height:69px;margin:0px 0px 6px 0px;}
.gbx-body .user-gall a:hover{border:1px solid #999;}
.gbx-body .user-gall img{margin:0px;border:none;padding:0px;}

.gbx-body .user-set-cover div a div{width:219px;height:219px;overflow:hidden;}
.gbx-body .user-set-cover div a{padding:2px;border:1px solid #c6c6c6;-webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);-moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);display:block;float:left;width:219px;height:219px;margin:0px;}
.gbx-body .user-set-cover a:hover{border:1px solid #999;}
.gbx-body .user-set-cover img{margin:0px;border:none;padding:0px;}

.gbx-body .user-set-gall div a div{width:69px;height:69px;overflow:hidden;}
.gbx-body .user-set-gall div a{padding:2px;border:1px solid #c6c6c6;-webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);-moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);display:block;float:left;width:69px;height:69px;margin:0px;}
.gbx-body .user-set-gall a:hover{border:1px solid #999;}
.gbx-body .user-set-gall img{margin:0px;border:none;padding:0px;}

.gbx-body .gbx-gallery-item{margin:0px 4px 8px 4px;float:left;}
.gbx-body .gbx-gallery-item div.gbximgwrapper a div{width:112px;height:112px;overflow:hidden;}
.gbx-body .gbx-gallery-item div.gbximgwrapper a{padding:2px;border:1px solid #c6c6c6;-webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);-moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);display:block;width:112px;height:112px;margin:0px;}
.gbx-body .gbx-gallery-item div.gbximgwrapper a:hover{border:1px solid #999;}
.gbx-body .gbx-gallery-item div.gbximgwrapper img{margin:0px;border:none;padding:0px;}

.gbx-body .gbx-user-item{margin:0px 20px 20px 0px;float:left}
.gbx-body .gbx-user-item.pull-right{margin:0px 0px 20px 0px;}
.gbx-body .gbx-user-item div.gbximgwrapper a div{width:174px;height:174px;overflow:hidden;clear:both;}
.gbx-body .gbx-user-item div.gbximgwrapper a{padding:2px;border:1px solid #c6c6c6;-webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);-moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);display:block;float:left;width:174px;height:174px;margin:0px 0px 8px 0px;}

.gbx-body .gbx-user-item div.gbximgwrapper a:hover{border:1px solid #999;}
.gbx-body .gbx-user-item{display:block;float:left;}
.gbx-body .gbx-user-item .gbximgwrapper img{display: block !important;}
.gbx-body .gbx-user-item .imguser{font-size:10px;text-align:center;}

.gbx-body .u-avatar{padding:3px;border:1px solid #c6c6c6;-webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);-moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);display:block;float:left;margin:0px 0px 8px 0px}
.gbx-body .u-button{width:70px !important; margin:0px 0px 5px 0px;}

.gbx-body .set-avatar{display:block;float:left;}
.gbx-body .set-info{float:left;margin-left:12px;}
.gbx-body .set-info h3{margin:-10px 0px -4px 0px !important;}
.gbx-body .imgdesc{margin-top:5px;}
.gbx-body .imgdate{font-size:10px;color:#c6c6c6;}
.gbx-body .imgcomm{color:#333;font-size:11px}

.gbx-body .clearbox{clear:both;}

#content h1, #content h2, #content h3, #content h4, #content h5, #content h6{ margin: 0pt;}

.gbx-body span.icon{ display: inline-block; width: 14px; height: 12px; position: relative; top: 0; *top: 0px; background-image: url(icons.png); background-repeat: no-repeat; }

.gbx-body span.icon.comment{ background-position: 0 -176px;margin: auto auto -2px 8px;  }
.gbx-body span.icon.cog{ background-position: 0 -146px;margin: auto auto -2px 8px;   }
.gbx-body span.icon.tag{ background-position: 0 -734px;margin: auto auto -2px 8px;   }
.gbx-body span.icon.pen{ background-position: 0 -556px;margin: auto auto -2px 8px;   }
.gbx-body a.btn.primary span.icon.pen{background-position: 0 -571px;margin: auto auto -2px 8px }
.gbx-body span.icon.magnifier{ background-position: 0 -472px;margin: auto auto -2px 8px;   }
.gbx-body span.icon.rightarrow{ background-position: 0 -674px;margin: auto auto -2px 8px;   }
.gbx-body span.icon.leftarrow{ background-position: 0 -382px;margin: auto 8px -2px auto;  }
.gbx-body span.icon.plus{ background-position: 0 -616px;margin: auto auto -2px 8px; }
.gbx-body span.icon.chat{ background-position: 0 -60px;margin: auto auto -2px 8px;  }
.gbx-body span.icon.user{ background-position: 0 -854px;margin: auto auto -2px 8px; }
.gbx-body span.icon.book{ background-position: 0 0;margin: auto auto -2px 8px; }
.gbx-body span.icon.home{ background-position: 0 -322px;margin: auto auto -2px 8px;  }
.gbx-body span.icon.calendar{ background-position: 0 -30px;margin: auto auto -2px 8px;  }
.gbx-body span.icon.check{ background-position: 0 -90px;margin: auto auto -2px 8px;  }
.gbx-body span.icon.clock{ background-position: 0 -116px;margin: auto auto -2px 8px;  }
.gbx-body span.icon.cross{ background-position: 0 -204px;margin: auto auto -2px 8px;  }
.gbx-body span.icon.downarrow{ background-position: 0 -234px;margin: auto auto -2px 8px;  }
.gbx-body span.icon.fork{ background-position: 0 -264px;margin: auto auto -2px 8px;  }
.gbx-body span.icon.heart{ background-position: 0 -294px;margin: auto auto -2px 8px;  }
.gbx-body span.icon.key{ background-position: 0 -352px;margin: auto auto -2px 8px;  }
.gbx-body span.icon.lock{ background-position: 0 -412px;margin: auto auto -2px 8px;  }
.gbx-body span.icon.loop{ background-position: 0 -442px;margin: auto auto -2px 8px;  }
.gbx-body span.icon.mail{ background-position: 0 -502px;margin: auto auto -2px 8px;  }
.gbx-body span.icon.move{ background-position: 0 -526px;margin: auto auto -2px 8px;  }
.gbx-body span.icon.pin{ background-position: 0 -586px;margin: auto auto -2px 8px;  }
.gbx-body span.icon.reload{ background-position: 0 -646px;margin: auto auto -2px 8px;  }
.gbx-body span.icon.rss{ background-position: 0 -704px;margin: auto auto -2px 8px;  }
.gbx-body span.icon.trash{ background-position: 0 -764px;margin: auto auto -2px 8px;  }
.gbx-body span.icon.unlock{ background-position: 0 -794px;margin: auto auto -2px 8px;  }
.gbx-body span.icon.uparrow{ background-position: 0 -824px;margin: auto auto -2px 8px;  }


